{% load static %}

<link rel="stylesheet" href="{% static 'pojisteni/style.css' %}">

{% block content %}
<!-- detail_pojisteneho.html -->
<div class="row">
    <img id="logo" src="{% static 'pojisteni/images/logo6.png' %}" alt="Logo">    
<h1>Detail pojištěného</h1>

<div>
    <h2>Informace o pojištěném</h2>
    <p class="informace">
        <strong>Jméno:</strong> {{ pojisteny.jmeno }}<br>
        <strong>Příjmení:</strong> {{ pojisteny.prijmeni }}<br>
        <strong>Adresa:</strong> {{ pojisteny.ulice }} {{ pojisteny.cislo_popisne }}, {{ pojisteny.mesto }}<br>
        <strong>Email:</strong> {{ pojisteny.email }}<br>
        <strong>Telefon:</strong> {{ pojisteny.telefon }}<br>
    </p>
    <div class="btn-informace">
        <a href="{% url 'editovat_pojisteneho' pojisteny.pk %}" class="btn btn-primary btn-edit">Editovat pojištěného</a>
        <a href="{% url 'odstranit_pojisteneho' pojisteny.pk %}" class="btn btn-odstr">Odstranit pojištěného</a>
        <a href="{% url 'pridat_pojisteni' pojisteny.pk %}" class="btn btn-primary btn-pridat">Přidat pojištění</a>
        <a href="{% url 'seznam_pojistenych' %}" class="btn btn-primary btn-zpet">Zpět</a>
    </div>
</div>

<div>
    <h2>Sjednaná pojištění</h2>
    <table class="pojisteni-table">
        <thead>
            <tr>
                <th>Pojištění</th>
                <th>Částka</th>
                <th>Možnosti</th>
            </tr>
        </thead>
        <tbody>
            {% for pojisteni in pojisteny.pojisteni_set.all %}
            <tr>
                <td>{{ pojisteni.nazev }}</td>
                <td>{{ pojisteni.castka }}</td>
                <td>
                    <a href="{% url 'editovat_pojisteni' pojisteni.pk %}" class="btn btn-primary btn-edit">Editovat pojištění</a>
                    <a href="{% url 'odstranit_pojisteni' pojisteni.pk %}" class="btn btn-primary btn-odstr">Odstranit pojištění</a>
                </td>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer class="pata">
        <div class="row">
            <div class="social">
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a>
                </p>
                <p><a href="https://www.instagram.com/" target="_blank">Instagram</a>
                </p>
            </div>
            
      
            <div class="copytext">
                Copywrite &copy; 2023 emixx company.
            </div>
        </div>
      </footer>
</div>


{% endblock %}

