

{% block content %}
  <h1>Editace pojistěného</h1>

  <form method="POST" action="">
    {% csrf_token %}

    <label for="jmeno">Jméno:</label>
    <input type="text" id="jmeno" name="jmeno" value="{{ pojisteny.jmeno }}"><br>

    <label for="prijmeni">Příjmení:</label>
    <input type="text" id="prijmeni" name="prijmeni" value="{{ pojisteny.prijmeni }}"><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ pojisteny.email }}"><br>

    <label for="telefon">Telefon:</label>
    <input type="text" id="telefon" name="telefon" value="{{ pojisteny.telefon }}"><br>

    <label for="ulice">Ulice:</label>
    <input type="text" id="ulice" name="ulice" value="{{ pojisteny.ulice }}"><br>

    <label for="cislo_popisne">Číslo popisné:</label>
    <input type="text" id="cislo_popisne" name="cislo_popisne" value="{{ pojisteny.cislo_popisne }}"><br>

    <label for="mesto">Město:</label>
    <input type="text" id="mesto" name="mesto" value="{{ pojisteny.mesto }}"><br>

    <label for="psc">Psč:</label>
    <input type="text" id="psc" name="psc" value="{{ pojisteny.psc }}"><br>

    <input type="submit" value="Uložit" class="btn btn-primary">

    <a href="{% url 'detail_pojisteneho' pk=pojisteny.pk %}" class="btn btn-secondary">Zrušit</a> 


  </form>
{% endblock %}

