{% load static %}

<link rel="stylesheet" href="{% static 'pojisteni/style.css' %}">

{% block content %}
<div class="row">
  <img id="logo" src="{% static 'pojisteni/images/logo6.png' %}" alt="Logo">
  <h1>Editace pojistění</h1>

  <form method="POST" action="">
    {% csrf_token %}

    <label for="nazev">Název:</label>
    <input type="text" id="nazev" name="nazev" value="{{ pojisteni.nazev }}"><br>

    <label for="castka">Částka:</label>
    <input type="number" id="castka" name="castka" value="{{ pojisteni.castka }}"><br>

    <label for="predmet">Předmět:</label>
    <input type="text" id="predmet" name="predmet" value="{{ pojisteni.predmet }}"><br>

    <label for="platnost_od">Platnost od:</label>
    <input type="date" id="platnost_od" name="platnost_od" value="{{ pojisteni.platnost_od|date:'Y-m-d' }}"><br>

    <label for="platnost_do">Platnost do:</label>
    <input type="date" id="platnost_do" name="platnost_do" value="{{ pojisteni.platnost_do|date:'Y-m-d' }}"><br>

    <input type="submit" value="Uložit" class="btn btn-primary btn-form"> 


  </form>
  <a href="{% url 'detail_pojisteneho' pk=pojisteni.pojisteny_objekt.pk %}" class="btn btn-secondary btn-zrus">Zrušit</a>
</div>
{% endblock %}



