{% load static %}

<link rel="stylesheet" href="{% static 'pojisteni/style.css' %}">

{% block content %}
 <div class="row">
    <img id="logo" src="{% static 'pojisteni/images/logo6.png' %}" alt="Logo">
    <h1>Nový pojištěnec</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-form">Uložit</button>
    </form>
    <a href="{% url 'seznam_pojistenych' %}" class="btn btn-primary btn-zrus">Zrušit</a>

    <footer class="pata">
        <div class="row">
            <div class="social">
                <p><a href="https://www.facebook.com/" target="_blank">Facebook</a>
                </p>
                <p><a href="https://www.instagram.com/" target="_blank">Instagram</a>
                </p>
            </div>
            
      
            <div class="copytext">
                Copywrite &copy; 2023 emixx company.
            </div>
        </div>
      </footer>
 </div>   
{% endblock %}

