{% load static %}

<link rel="stylesheet" href="{% static 'pojisteni/style.css' %}">


{% block content %}
<div class="row">
  <img id="logo" src="{% static 'pojisteni/images/logo6.png' %}" alt="Logo">
<h1>Potvrzení odstranění pojištění</h1>

<h2 class="upozorneni">Jste si jisti, že chcete odstranit toto pojištění?</h2>

<div class="del-inf">
  <p><strong>Název pojistění:</strong> {{ pojisteni.nazev }}</p>
  <p><strong>Předmět pojištění:</strong> {{ pojisteni.predmet }}</p>
  <p><strong>Částka:</strong> {{ pojisteni.castka }}</p>
</div>

<form class="form-odstr" method="POST" action="{% url 'odstranit_pojisteni' pk=pojisteni.pk %}">
  {% csrf_token %}
  <input type="submit" value="Odstranit" class="btn btn-danger">
  
</form>
<a href="{% url 'detail_pojisteneho' pk=pojisteny.pk %}" class="btn btn-secondary btn-zrus">Zrušit</a>

<footer class="pata">
  <div class="row">
      <div class="social">
          <p><a href="https://www.facebook.com/" target="_blank">Facebook</a>
          </p>
          <p><a href="https://www.instagram.com/" target="_blank">Instagram</a>
          </p>
      </div>
      

      <div class="copytext">
          Copywrite &copy; 2023 emixx company.
      </div>
  </div>
</footer>

{% endblock %}



