{% load static %}

<link rel="stylesheet" href="{% static 'pojisteni/style.css' %}">

{% block content %}
<div class="row">
    <img id="logo" src="{% static 'pojisteni/images/logo6.png' %}" alt="Logo">
    <h1>Přidat pojištění: {{ pojisteny.jmeno }} {{ pojisteny.prijmeni }}</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_pojisteni">Pojištění:</label>
            <input type="text" id="id_pojisteni" name="nazev" value="{{ pojisteni.nazev }}">
        </div>
        <div>
            <label for="id_castka">Částka:</label>
            <input type="text" id="id_castka" name="castka" value="{{ pojisteni.castka }}">
        </div>
        <div>
            <label for="id_predmet">Předmět pojištění:</label>
            <input type="text" id="id_predmet" name="predmet" value="{{ pojisteni.predmet }}">
        </div>
        <div>
            <label for="id_platnost_od">Platnost od:</label>
            <input type="date" id="id_platnost_od" name="platnost_od" value="{{ pojisteni.platnost_od }}">
        </div>
        <div>
            <label for="id_platnost_do">Platnost do:</label>
            <input type="date" id="id_platnost_do" name="platnost_do" value="{{ pojisteni.platnost_do }}">
        </div>
        <button class="btn btn-form" type="submit">Uložit</button>
    </form>

{% if form.errors %}
    <div class="alert alert-danger">
        <strong>Chyba:</strong>
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<a href="{% url 'detail_pojisteneho' pk=pojisteny.pk %}" class="btn btn-secondary btn-zrus">Zrušit</a>

<footer class="pata">
    <div class="row">
        <div class="social">
            <p><a href="https://www.facebook.com/" target="_blank">Facebook</a>
            </p>
            <p><a href="https://www.instagram.com/" target="_blank">Instagram</a>
            </p>
        </div>
        
  
        <div class="copytext">
            Copywrite &copy; 2023 emixx company.
        </div>
    </div>
  </footer>
</div>
{% endblock %}


